doctype html
		
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        meta(http-equiv='x-ua-compatible', content='IE=edge')
        meta(name='robots', content='noarchive')
        block title
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='/css/app.css')
    body
        block content
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js')
        script(src='/js/app.js')