extends ./_layouts/default.pug

//- add the title to the page
block title
    title Test Application
    
//- create the content for the home page
block content
    h1 Home Page
    
    //- Add a new button to create a product
    a.btn.btn-primary(href="product/") Create New Product
    
    table.table.table-bordered
        thead
            tr
                th Actions
                th Name
                th Price
                th Description
        tbody
            //- Loop through the products and display them in a table
            each product in products
                tr
                    td
                        a.btn.btn-primary(href="product/" + product.id) Edit
                    td=product.name
                    td=product.description