extends ../_layouts/default.pug

//- add the title to the page
block title
    title Product
	
//- create the content for the home page
block content
    h1 Edit Product

    //- Add a button to return
    a.btn.btn-primary(href="/") Back to List